@import "../utils/variables";
@import "../utils/mixins";

.header {
   
   z-index: 999;
   position: relative;
    background-color: $header-color;
    transition: all 0.5s ease;
    
    

  }
  .fixed {
    position:fixed;
    top:0;
    
    animation: smoothscroll 1s forwards;
}
@keyframes smoothscroll{
  0%{
    transform: translateY(-40px);
  }
  100%{
    transform: translateY(0px);
  }
}
@include tablet{
  .header {
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    z-index: 100;

  }
  .fixed {
    position:fixed;
    top:0;
    background-color: $header-color;
    animation: smoothscroll 1s forwards;
    box-shadow: 0 8px 6px -6px black;
    border-bottom: .1em solid $nav-border-color;
}

}