@import "../utils/mixins";
.nav {
  // border: 1px solid rgba(0, 0, 0, 0.2);
 
  
  min-width: 100vw;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main {
    list-style-type: none;
    display: none;

    min-width: 100vw;
  }

  &__link {
    a {
      text-decoration: none;
      color: $white;
      font: $nav-links-font;
    }
  }
  &__logo {
    color: $white;
    padding-left: 1.2em;
  }
}
@include smartphone {
  .nav {
    &__header {
      min-height: 6vh;
    }
    &__toggle {
      position: absolute;
      top: 1.5vh;
      right: 9%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
    }
    &__main {
      max-width: 100px;
      li {
        align-self: flex-start;
        padding: 0.5em 0 0.5em 2em;
        border-top: 1px solid rgba(0, 0, 0, 0.4);

        &:last-child {
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

@include tablet {
  .nav {
    display: flex;
    //justify-content: space-between;

    padding: 0;

    align-items: center;
    &__header {
      min-height: 4vh;
    }
    &__link {
      a {
        font: $nav-links-font;
      }
    }
    &__main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 70vw;

      li {
      }
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      min-width: 30vw;
    }
    &__toggle {
      display: none;
    }
    &__main {
      li {
        margin: 0;
        border: none;

        &:last-child {
          border: none;
        }
      }
    }
  }
}
@include desktop {
  .nav {
    padding: 1.5em;
    &__main {
      min-width: 45vw;
    }
    &__link {
      a {
        font: $nav-links-font-desktop;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -6px;
          left: 0;
          background-color: $white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}

.active {
  display: block;
  position: fixed;
  z-index: 999;
  background-color: $header-color;
}
