*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
     height: 100vh;
     line-height: 1.6;
     overflow-x: hidden;
    -webkit-animation: bugfix infinite 1s; }
    @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}


}
.content{
    width: 100%;
    height: 100%;
}