/*====breakpoints====*/
$tablet-width: 48em;
$desktop-width: 62em;
$smartphone-width: 20em;
/*====colors====*/
$white: white;
$black: black;
$header-color: #a54f1a;
$nav-border-color: #af541b;
$contact-color:  rgb(31, 32, 32);
$contact-color-border:  rgb(20, 20, 20);
/*====font====*/
$nav-toogle-font: 2.5em;
$nav-links-font:  1.2em 'Hind', sans-serif;
$nav-links-font-desktop: 1.8em 'Hind', sans-serif;
$showcase-font-mobile: 3.2em 'Jura', sans-serif;
$showcase-font-tablet: 5em 'Jura', sans-serif;
$showcase-font-desktop: 6em  'Jura', sans-serif;
$aboutus-font-mobile: 1.6em  'Jura', sans-serif;
$aboutus-font-tablet: 1.8em  'Jura', sans-serif;
$aboutus-font-desktop: 3em  'Jura', sans-serif;
$contact-font-mobile: 1.7em'Hind', sans-serif;
$title-font-mobile: 2.1em'Hind', sans-serif;
$title-font-tablet: 2.5em'Hind', sans-serif;
$title-font-desktop: 3.2em'Hind', sans-serif;
$contact-name-mobile: 2em'Jura', sans-serif;
$contact-font-desktop: 2.1em'Hind', sans-serif;
$contact-name-desktop: 2.7em'Jura', sans-serif;