@import "../utils/variables";
@import "../utils/mixins";
.aboutUs{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    &__image{
        -webkit-animation-delay: 3.3s;
        -moz-animation-delay: 3.3s;
        animation-delay: 3.3s;
        
         
        align-self: center;
        
     /*position: relative;
     padding-top: 56.25%;
        img{
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            
            
            
            height: auto;
        }*/

        img{
            object-fit: cover;
            height: auto;
            width:100vh;
        }
    }
    &__text{
      
      display: flex;
      align-self: center;
      align-items: center; 

      
    }
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0);
    }
    to{
         opacity: 1;
         -webkit-transform: none;
        transform: none;
    }
}
.fadeInRight{
    animation-duration: 1.5s;
    animation-name: fadeInRight;
}


@include smartphone {
    .aboutUs{
        &__image{
            img{
                padding-top:15%;
                width: 30vh;
                

            }
        }
        &__text{
            width: 80vw;
            height: 45vh;
            padding-bottom: 15%;
            font: $aboutus-font-mobile;

        }

    }

}


@include tablet {
    .aboutUs{
       
        flex-direction: row;
       
        width: 100vw;
        height: 50vh;
        &__image{
            width: 40vw;
            height: 40vh;
            
            img{
                
                width: 40vw;
                height: auto;
                

            }
        }
        &__text{
            width: 55vw;
            height: 10vh;
            padding: 1em;
            font: $aboutus-font-tablet;
        } 

    }

}
@include desktop {
    .aboutUs{
        width:100vh;
        height: 100vh;
        margin: 0 auto;

        &__image{
            width: 30vw;
            height: 70vh;
            justify-content: flex-start;
            
            img{
              
               width: 30vw;
               height: auto;
               
               
                
            }
        }
        &__text{
           
            font: $aboutus-font-desktop;
            height: 60vh;
            h3{
          width: 80vw;
         
           padding-top: 1.2em;
            }
            
            
        }

    }


}