@import "../utils/variables";
@import "../utils/mixins";
.contact{
    background-color: $contact-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: .1em solid $contact-color-border;
    width:100vw;
    height: 27vh;
    &__text{
   
    
    }
    &__name{
        padding: 1em;
       
    }
}

@include smartphone {
    .contact{
        &__text{
            font: $contact-font-mobile;

        }
        &__name{
            padding: 1em;
        font: $contact-name-mobile;
        }
    }

}
@include tablet {
    &__text{

    }
    &__name{
        
    }
}
@include desktop {
    .contact{
    &__text{
        
        font: $contact-font-desktop;
    }
    &__name{
        font: $contact-name-desktop;
    }
}

}