@import "../utils/mixins";
.portfolio {
  background-color: $white;
  display:  flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  &__info {
    
    
    background-image: url("../static/bomberman.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  &__platform {
    
    &__content {
      color: white;
      
      display: flex;
     

      background-color: rgba(29, 28, 28, 0.542);
      transition: transform .5s;
      border: 0.4em solid $header-color;
      border-radius: 7px;
      &:hover{
        transform: translate(0, -20px);
        
      }
    }
    &--icon {
      padding: 0.5em;
      a{
        color: white;
        text-decoration: none;
       
      }
      i {
        font-size: 3.5em;
      }
    }
    &--text {
      p {
        font-size: 1.9em;
        font-family: "Roboto", sans-serif;
        padding: 0.2em;
      }
    }
  }
  &__title {
    display: flex;
  height:calc(42% - 20px);
  justify-content: center; /* center horizontal */
  align-items: center; /* center vertical */
  overflow: hidden;
 

   

    img {
      
     
     
    }
  }
  &__box {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--image {
      img {
        align-self: center;
        object-fit: cover;
       
      }
    }
   
  }
}
@include smartphone {
  .portfolio {
    &__info {
      width: 100vw;
      height: 100vh;
    }
    &__platform {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100vw;
      height: 55vh;
      &__content {
        width: 20em;
        padding: 0.5em;
        margin: 1em;

        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      
      }
    }
    &__title {
      img {
        width: 20em;
      height: auto;
      }
  }
  &__box {
    
    margin: 1.5em 0 1em 0;
    
    &--image {
      img {
        
        height: 60vh;
        width: 100vw;
      }
    }
  }
}
}
@include tablet {
  .portfolio {
    &__info {
      width: 100vw;
      height: 100vh;
      
    }
    &__platform {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100vw;
      height: 53vh;
      &__content {
        width:20em;
        padding: 0.1em;
        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
      
      }
    }
    &__title {
      img {
        width: 20em;
      height: auto;
      top: 20%;
      }
  }
  &__box {
    width: 100vw;
    height: 100vh;
    &--image {
      img {
        
        height: 100vh;
        width: 100vw;
      }
    }
  }
}
.title{
  height: 15vh;
  h1{
    font: $title-font-mobile;
  }
}
}
@include desktop {
  .portfolio {
    &__info {
      //margin-bottom: 2.5em;
      margin: 0 auto;
    }
    &__platform {
      height: 53vh;
      
     
      
      &__content {
        width: 22em;
         
        
        
        
      
      }
    }
    &__title {
       padding-top: 6em;
      img {
       width:30em;  
       height: auto;
       
      
      }
  }
  &__box {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    &--image {
      margin: 0;
      img {
        
        height: 100vh;
        width: 100vw;
      }
    }
  }
}

}
.parallax {
  overflow: hidden;
  perspective: 2px;
  scroll-behavior: smooth;
}
.title{
  width:100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font: $title-font-mobile;
  }
}

@include desktop {
  .title{
    height: 16vh;
    h1{
      font: $title-font-desktop;
      
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    }
    &__background{
      position: relative;
    
    &:before{
      border-top: none; 
    }
    &:after{
      border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
    }
    span{
      background: #fff; 
      padding: 0 15px; 
    }
    }

  }
  
}