@import "../utils/mixins";

.showcase {
  &__box {
  }
  &__video {
    width: 100%;
    min-height: auto;
    object-fit: cover;
    object-position: center;
  }
}

@include tablet {
  .showcase {
    &__video {
      display: inline-block;
      position: relative;
      left: 100%;
      margin-left: -200%;
    }
    &__box {
      text-align: center;
      overflow: hidden;
    }
  }
}
@include desktop {
  .showcase {
    height: 100vh;
    &__text {
      top: 40%;
      h1 {
        font: $showcase-font-desktop;
      }
    }
    &__video {
      height: 100vh;
    }
    &__box {
    }
  }
}
